@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes breathing {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animation-listening {
  animation: breathing 2s ease-in-out infinite;
}
